html{
    background-color: #F3F8FF;
}
*{
     font-family: "Hepta Slab", serif;
}

.timer {
    grid-area: box-1;
    background-color: #68778d;
}

.main-content{
    display: grid;
    grid-template-columns: 390px 400px 400px;
    grid-template-rows: 200px 200px 300px;
    gap: 16px;
    grid-template-areas: 
    "box-1 box-2 box-3"
    "box-4 box-2 box-3"
    "box-4 box-5 box-3";
    padding: 10px;
}

.timer , .todo-list , .notes , .calendar , .deadlines {
   border-radius: 20px;
}

.todo-list{
    background-color: #D2DFF2;
    grid-area: box-2;
}
.top-text-deadlines, .top-text-notes, .top-text-todo{
    display: inline-flex;
    padding: 10px 0 10px 0;
}
.title-text{
    display: inline-block;
    padding: 0 5px 0 0;
    font-weight: bold;
    font-size: 23px;
    color: #77879E;
}

.icon {
    display: inline-block;
    padding: 1px 5px 0px 20px;
    width: 26px;
    height: 26px;
    color: #77879E;

}

.todo-list button{
    width: 60px;
    height: 34px;
    border-radius: 10px;
    border: 1.5px solid #68778d;
    background-color:#68778d ;
    color: white;
}

.Button-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.deadlines button, .notes button{
    font-size: 15px;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: 1.5px solid #6d7b8e;
    background-color:#6d7b8e ;
    color: white;
}
input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}
input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
    margin: 0 0 0 20px;
    color: #77879E;
    width: 290px;
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid #77879E;
}

.notes{
    grid-area: box-3;
    background-color: #D2DFF2;
    margin: 0 10px 0 0;
}

.calendar{
    grid-area: box-4;
    background-color: #ffffff;
    border: 2px solid #68778d;
}

.deadlines{
    grid-area: box-5;
    background-color: #D2DFF2;
}

.top-text {
    display: flex;
    justify-content: center;
    width: 390px;
    padding: 10px 0 0 0 ;
}

.month-Yr{
    display: inline-flex;
    padding: 0 10px 0 10px;
}

.month, .year{
    padding: 0 5px 0 5px;
    font-size: 23px;
    font-weight: bold;
    color: #77879E;
}

.top-text button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
}

.days{
    display: flex;
    padding: 10px 0 0 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #77879E ;
}
.side-btn-timer{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #68778d;
    color: white;
    margin: 10px 0 0 0;
}

.pause-play-btn{
    width: 60px ;
    height: 60px;
    border-radius: 100%;
    border: 2px solid white;
    background-color: #68778d;
    margin: 0 10px 0 10px;
}


.Timer-count{
    display: flex;
        justify-content: center;
            font-size: 70px;
                padding: 0 0 5px 0;
                    color: white;
}

.edit-btn{
    display: flex;
    justify-content: right;
    height: 35px;
}

.edit-btn button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: none;
    border: none;
    margin: 7px 10px 0 5px;
}


.user-btn button{
    background: none;
    border: none;
 }

.user-btn img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: none;
    border: none;
}

.user-btn{
    width: 1225px;
    display: flex;
    justify-content: right;
}

.logo {
    width: 1225px;
    display: flex;
    justify-content: left;
    padding: 0 0 0 15px;
}

.logo-img{
    position: absolute;
    width: 100px;
    height: 50px;
}

.js-todo-list{
    width: 380px;
    height: 310px;
    padding: 0 20px 0 20px;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    position: absolute;
    height: 10px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb{
    background-color: #68778d85;
    border-radius: 20px;
    min-height: 10px;
}
.js-todo-list .todos{
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
    padding: 0px 5px 0 0;
    max-width: 360px;
    height: 40px;
    background-color: #f6faff;
    border-radius: 10px;
    
}

.todos p {
    width: fit-content;
    max-width: 90%;
    padding: 0 0 0 10px;
    color: #68778d;
    font-weight: bolder;
}

.notes-pop-up{
    opacity: 0;
    pointer-events: none;
    width: 100% !important; 
    height: 100%;
    border-radius: 0;
    background-color: #0000008d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.pop-up-content{
    display: block;
    position: fixed;
    width: 500px;
    height: 200px;
    background: white;
    border-radius: 20px;
}

.notes-pop-up .show-popup{
    opacity: 100%;
    pointer-events: all;
}
/* Hover Features */ 