html{
    background-color: #F3F8FF;
}
*{
     font-family: "Hepta Slab", serif;
}

::-webkit-scrollbar{
    position: absolute;
    height: 10px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb{
    background-color: #68778d85;
    border-radius: 20px;
    min-height: 10px;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}
input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
    margin: 0 0 0 20px;
    color: #77879E;
    width: 290px;
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid #77879E;
}
